@media screen and (min-width: 640px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 1 1 100%;
        width: 600px;
    }

    ul li {
        display: block;
        flex: 1 1 100%;
    }

    nav a {
        flex: 1 1 100%;
    }

    .second {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 30px;
    }

    #menu {
        display: none;
    }
}